.app{
  background-image: url(../src/img/galaxian-video-game.gif);
  background-image: 100%;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  
}
.cardContainer{
  width: 1000px;
  height: 600px;
  border: 1px solid white; 
  
}
.imgTamaño{
  width: 136px;
  height: 100px;
  transition: all .2s ease-in-out;
}
.imgTamaño:hover{
  transform:scale(1.2)
}
.cardStyles{
  gap: 10px;
  
  padding-left: 200px;
  padding-right: 300px;
 
}
.estiloImg{
  cursor: pointer;
  background-color: black;
}


